.banner {
  background: #F60;
  color: #fff;
  position: relative;
  padding: 1.1em 1.5em 0.8em 1.5em;
  -webkit-transition: background-color .5s;
  text-shadow: 1px 1px 1px rgba(black, 0.3);
  h1 {
    display: inline;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
    img {
      margin-top: -5px;
    }
  }
  h2 {
    display: inline;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 0.4em;
  }
  nav {
    position: absolute;
    right: 1.5em;
    top: 12px;;
    text-align: right;
    vertical-align: bottom;
    a {
      display: inline-block;
      float: left;
      padding: 13px 15px;
      &.active {
        text-shadow: none;
        background: #eee;
        color: #666;
      }
      &.divide {
        border-left: 1px solid #D9D9D9;
      }
    }
  }
}

.banner a:hover { text-decoration: none; }
.banner  a { color: white; }
.banner a { color: #fff; font-weight: bold; }
.banner a:hover { text-decoration: none; }
