.playlists {
  padding-bottom: 0 !important;
}

.playlist {
  background: #999;
  display: inline-block;
  font-weight: bold;
  width: 18%;
  margin-right: 20px;
  margin-bottom: 20px;
  a {
    color: #fff;
    display: block;
    padding: 11px;
    text-decoration: none;
  }
}

.playlist-new {
  input {
    width: 40% !important;
  }
}
