.sound-new {
  display: none;
  background: #eee;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px;
  input {
    width: 85%;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    margin-right: 5px;
  }
  button {
    font-size: 14px;
  }
}

.sound {
  -webkit-user-select: none;
  width: 100%;
  height: 130px;
  margin-top: 40px;
  cursor: pointer;
}
